// Define variables for your color scheme

// For example:
$red: #DD3E3E;
$blue: #00C9B1;
$yellow: #FFDD5C;
$orange: #ECAB69;
$green: #4A772F;
$gray: #FCF9F4;
$light-gray: #EBEBEB;
$pink: #FFA3AC;
$navy:#00043C;
$light-blue:#005D6C;
